RecetteClient/src/main/resources/wsdl/RecetteWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.recette.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.recette.com/" name="RecetteWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.recette.com/" schemaLocation="RecetteWebService.xsd"/>
</xsd:schema>
</types>
<message name="chercherRecettesParIngredient">
<part name="parameters" element="tns:chercherRecettesParIngredient"/>
</message>
<message name="chercherRecettesParIngredientResponse">
<part name="parameters" element="tns:chercherRecettesParIngredientResponse"/>
</message>
<message name="getAllRecettes">
<part name="parameters" element="tns:getAllRecettes"/>
</message>
<message name="getAllRecettesResponse">
<part name="parameters" element="tns:getAllRecettesResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="RecetteWebService">
<operation name="chercherRecettesParIngredient">
<input wsam:Action="http://ws.recette.com/RecetteWebService/chercherRecettesParIngredientRequest" message="tns:chercherRecettesParIngredient"/>
<output wsam:Action="http://ws.recette.com/RecetteWebService/chercherRecettesParIngredientResponse" message="tns:chercherRecettesParIngredientResponse"/>
</operation>
<operation name="getAllRecettes">
<input wsam:Action="http://ws.recette.com/RecetteWebService/getAllRecettesRequest" message="tns:getAllRecettes"/>
<output wsam:Action="http://ws.recette.com/RecetteWebService/getAllRecettesResponse" message="tns:getAllRecettesResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.recette.com/RecetteWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.recette.com/RecetteWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="RecetteWebServicePortBinding" type="tns:RecetteWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="chercherRecettesParIngredient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllRecettes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RecetteWebService">
<port name="RecetteWebServicePort" binding="tns:RecetteWebServicePortBinding">
<soap:address location="http://localhost:8080/RecetteWebService/RecetteWebService"/>
</port>
</service>
</definitions>