RecetteClient/src/main/resources/wsdl/RecetteWebService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><xs:schema xmlns:tns="http://ws.recette.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.recette.com/">

<xs:element name="chercherRecettesParIngredient" type="tns:chercherRecettesParIngredient"/>

<xs:element name="chercherRecettesParIngredientResponse" type="tns:chercherRecettesParIngredientResponse"/>

<xs:element name="getAllRecettes" type="tns:getAllRecettes"/>

<xs:element name="getAllRecettesResponse" type="tns:getAllRecettesResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="recette" type="tns:recette"/>

<xs:complexType name="getAllRecettes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllRecettesResponse">
<xs:sequence>
<xs:element name="return" type="tns:recette" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recette">
<xs:sequence>
<xs:element name="idRecette" type="xs:int"/>
<xs:element name="nomRecette" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="chercherRecettesParIngredient">
<xs:sequence>
<xs:element name="ingredient" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="chercherRecettesParIngredientResponse">
<xs:sequence>
<xs:element name="return" type="tns:recette" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>